
<div *ngIf="products; else homeLoadingTemplate">
  <app-search-bar  [searchWord]="searchWord" ></app-search-bar>
    <div class="row" >
      

    <app-product-item
      *ngFor="let singleproduct of products"
      [product]="singleproduct"
    ></app-product-item>
</div>
    
<app-pagination [currentPage]="currentPage"[pageTotalNumber]="pageTotalNumber"

></app-pagination>
</div>






<ng-template #homeLoadingTemplate>
    <div class="d-flex justify-content-center m-5">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
      </div>
  </ng-template>
